/* BASE STYLES */
*
  margin: 0
  padding: 0
  box-sizing: border-box

#addbill
  width: 100%

#addbill__link
  display: flex
  justify-content: flex-end
.require
  color: $fill-background
.title
  font-family: $title-font
  text-align: center
  color: $dark-blue

.alert-warning
  background: $warning-yellow
.alert-success
  background: $success-green

#dashboard
  text-decoration: none
  color: #eee