<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Money Left</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/app.css">
</head>
<body>
  <nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-light">
    <a class="navbar-brand" href="#">MoneyLeft</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/ml/dashboard">Dashboard</a>
        <a class="nav-item nav-link" href="/ml/history">History</a>
        <a class="nav-item nav-link" href="/ml/settings">Settings</a>
        <a class="nav-item nav-link disabled" href="/logout">Log Out</a>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="total-funds">
      <h4 class="total-funds__amount">$1000.00</h4>
    </div>
    <div class="modify-funds">
      <button class="btn btn-success shadow border border-dark" data-toggle="modal"
        data-target="#addIncome__trigger"><i class="fa fa-money" aria-hidden></i> Add Income</button>
      <button class="btn btn-danger shadow border border-dark" data-toggle="modal" data-target="#addExpense__trigger">Deduct Expense <i class="fa fa-bar-chart" aria-hidden="true"></i></button>
    </div>
    <!-- Modal Income-->
    <div class="modal fade" id="addIncome__trigger" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-success" id="exampleModalLabel">Add Income</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="" method="post">
              <div class="form-group">
                <label for="name">Resource Name</label>
                <input type="text" name="name" class="col-sm-12" placeholder="Paycheck, Billables Received, Etc.">
              </div>
              <div class="form-group">
                <label for="amount">Total Amount Received</label>
                <input type="number" name="amount" class="col-sm-12"  min="0.01" step="0.01" placeholder="$0.00">
              </div>
              <div class="form-group">
                <label for="name">Date Received</label>
                <input type="date" name="start">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success">Add Income</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Expenses-->
    <div class="modal fade" id="addExpense__trigger" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-danger" id="exampleModalLabel">Deduct Expense</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="" method="post">
              <div class="form-group">
                <label for="name">Expense Name</label>
                <input type="text" name="name" class="col-sm-12" placeholder="Coffe, Lunch, Etc.">
              </div>
              <div class="form-group">
                <label for="amount">Total Amount Paid</label>
                <input type="number" name="amount" class="col-sm-12"  min="0.01" step="0.01" placeholder="$0.00">
              </div>
              <div class="form-group">
                <label for="name">Date of Expense</label>
                <input type="date" name="start">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger">Deduct Expense</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal ADD BILL-->
    <div class="add-bill-modal">
      <div class="modal__content">
        <div class="modal__header">
          <h2 class="modal__title">ADD NEW BILL</h2>
          <button type="button" class="close-exit">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal__body">
          <div class="modal-body">
            <form action="" method="post">
              <div class="form-group">
                <label for="name">Name Of Bill</label>
                <input type="text" name="name" class="col-sm-12 form-control">
              </div>
              <div class="form-group">
                <label for="amount">Amount Due</label>
                <input type="number" name="amount" class="col-sm-12 form-control" min="0.01" step="0.01"
                  placeholder="$0.00">
              </div>
              <div class="form-group">
                <label for="name">Next Billing Date</label>
                <input type="date" name="start" class="d-block m-auto">
              </div>
              <div class="form-group">
                <p class="m-0">Is this a reoccurring bill?</p>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="repeats" id="reprepeats-true" value="true" checked="checked">
                  <label class="form-check-label" for="reprepeats-true">YES</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="repeats" id="reprepeats-false" value="false">
                  <label class="form-check-label" for="reprepeats-false">NO</label>
                </div>
              </div>
              <input type="submit" value="ADD BILL" class="btn btn-info border border-dark">
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Modals END -->
    <div class="addbill">
      <a href="#" id="addbill__link" class="trigger">Add New Bill</a>
    </div>
    <div class="track-bar">
      <div class="track-bar__fill"></div>
    </div>
    <div id="monthly__expenses">
      <table class="table table-striped table-dark table-bordered">
        <thead>
          <tr>
            <th scope="col">Due Date</th>
            <th scope="col">Expense Name</th>
            <th scope="col">Amount Owed</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody class="monthly__expense-details"> </tbody>
      </table>
    </div>
  </div>

  <script src="../js/app.js" type="module"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>