<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-light">
  <a class="navbar-brand" href="#">MoneyLeft</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home</a>
      <a class="nav-item nav-link" href="/dashboard">Dashboard</a>
      <a class="nav-item nav-link" href="/history">History</a>
      <a class="nav-item nav-link" href="/settings">Settings</a>
      <a class="nav-item nav-link" href="/logout">Log Out</a>
    </div>
  </div>
</nav>

<div class="container">
  <div class="filter-triggers text-center">
    <button class="btn shadow btn-outline-primary">WEEK</button>
    <button class="btn shadow btn-outline-dark">MONTH</button>
    <button class="btn shadow btn-outline-dark">3 MONTHS</button>
    <button class="btn shadow btn-outline-warning">ALL</button>
  </div>
  <table class="update">
      <!-- <thead>
        <tr>
          <th scope="col" class="update-date">NOV 20, 2019</th>
        </tr>
      </thead> -->
      <tbody class="update-info">
        <% for (let trans of transactions) { %>
        <tr>
          <td class="update-date">NOV 20, 2019</td>
          <tr>
            <td class="update-title">Target</td>
          </tr>
          <tr class="update-dollars">
            <td class="update-amount">$1,000.00</td>
            <td class="update-spent text-right">-$54.70</td>
          </tr>
        </tr>
          <% } %>
      </tbody>
    </table>
</div>

<script src="../js/app.js" type="module"></script>