<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-light">
  <a class="navbar-brand" href="#">MoneyLeft</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home</a>
      <a class="nav-item nav-link" href="/dashboard">Dashboard</a>
      <a class="nav-item nav-link" href="/history">History</a>
      <a class="nav-item nav-link" href="/settings">Settings</a>
      <a class="nav-item nav-link" href="/logout">Log Out</a>
    </div>
  </div>
</nav>

<div class="container">
  <div class="filter-triggers text-center">
    <button class="btn shadow btn-outline-primary">WEEK</button>
    <button class="btn shadow btn-outline-dark">MONTH</button>
    <button class="btn shadow btn-outline-dark">3 MONTHS</button>
    <button class="btn shadow btn-outline-warning">ALL</button>
  </div>

  <div class="transaction">
    <% for (let trans of transactions) { %>
      <p class="transaction-title">TARGET</p>
      <div class="transaction-info">
        <p class="transaction-date">Nov 20, 2019</p>
        <p class="transaction-bank">$1,000</p>
      </div>
      <p class="transaction-amount">-$ 52.70</p>
      <hr>
    <% } %>
  </div>
  <hr>

</div>

<script src="../js/app.js" type="module"></script>