tr
  border: none
.update
  margin-top: 1rem
  border: 1px solid black
  width: 65%

.update-info
  margin-left: 3%
  display: flex
  flex-wrap: wrap
  flex-direction: column
  height: 20%
.update-dollars
  justify-content: space-between
.update-date
  background: $main-black
  color: $turquoise
  padding: .3rem
.update-title
  font-size: 1.3rem
  width: 100%
.update-amount
  color: #8a8989
  font-size: .8rem

.update-dollars-spent
  color: $fill-background
  font-size: 1.2rem
